


*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
  }

   body{
    
        height: 4000px;
  
    }
     /*------------------------------------------------_Header_------------------------------------------ */
  
  
  
            .header{
     
              position: fixed;
              width: 100%;
              height: 45px;
              background-color: rgba(148, 30, 30 , 0.8);
              z-index: 6;
              top: 0;
  
            }

 
            .home-icon{

              font-size: 20px;
              margin-top: 12px;
              color:white;
              margin-left: 5px;
              cursor: pointer;

            }

      
            .search{
    
              height: 25px;
              width: 200px;
              background-color: rgb(15, 2, 2);
              margin: -23px 0 0 40px;
              position: absolute;
              padding-left: 10px;
              border-radius: 15px;
    
            }

 

  
            .search-icon{
    
              font-size: 15px;
              position: absolute;
              cursor: pointer;
              margin-top: 5px;
              z-index: 6;
              margin-left: -5px;

            }


  
            .input-1{

              width: 200px;
              height: 25px; 
              margin-left: -11px; 
              padding-left: 30px;
              border-radius: 15px;
              border: 0px;
              outline: 0px;

            }


            
            .input-1:focus{

              border: 2px solid black;

            }


            .headerlist{
   
              height: 45px;
              width: 50%;
              position: absolute;
              padding-right: 30px;
              margin-top: -35px;
              margin-left: 50%;
          
            }
          
       
            .headerlinks{

              list-style: none;
              float: right;
              padding-top: 8px;
              margin-top: 5px;
          
            }
          


              .headerlinks li{
   
                display: inline-block;
                color: rgb(159, 26, 26);
                padding-left: 35px;
                position: relative;
        
              }
        
        
              .headerlinks li a{
          
                text-decoration: none;
                color: rgb(237, 231, 231);
                display: inline-block;
                position: relative;
                font-weight: bold;
           
              }
        
         
             .list-dropdown{
         
                position: relative;
                list-style: none;
                padding-top: -10px;
         
              }
          
              
              .dropdown{
           
                position: absolute;
                height: 150px;
                width: 180px;
                visibility:hidden;
                margin-top: 8px;
                border-radius: 10px;
                text-align: left;
                list-style: none;
            
              }
        
            
              .list-dropdown:hover .dropdown{
            
                height: 140px;
                width: 180px;
                visibility:visible;
                display: block;
                background-color: rgb(48, 40, 39);
                margin-top: 8px;
                border-radius: 10px;
                margin-left: -10px;
                transition: 0.4s;
                padding: 10px;
                text-align: left;
          
              }
        
            .dropdown li{
               
              text-align: left;
              display: block;
              padding-left: 15px;
              text-decoration: none;
             
             }
        
        
             .dropdown a{
             
              display: block;
              text-decoration: none;
              padding: 10px 0;
        
        
             }
        
        
              .headerlinks li a::after{
               
                content: "";
                width:  0;
                height: 0;
                background-color: black;
                position: absolute;
                left: 0;
                bottom: -4px;
                padding-left: 10px;
                 
              }
        

 
              .headerlinks li a:hover::after{
         
                width:  80%;
                height: 3px;
                transition: .7s;
                left: 0;
                bottom: -4px;
       
             }




          .dropdown li a::after{
       
            content: "";
            width:  0;
            height: 0;
            background-color: rgb(132, 21, 21);
            position: absolute;
            left: 0;
            bottom: -2px;
            padding-left: 10px;
            transition: 1s;
           
          }
  
          .dropdown li a:hover::after{
           
            width:  80%;
            height: 3px;
            left:0;
            bottom: -4px;
          
          }

            /*------------------------------------------------_Sec-1_------------------------------------------ */



            .Sec-1{
            
                height: 100vh;
                width: 100%;
                background-image: url(../images/frist\ image.jpeg);
                background-size: cover;
                position: relative;
               

            }

            .overlay{
              
                height: 100vh;
                width: 100%;
                background-color: rgba(0, 0, 0,.5 );
                text-align: center;
                padding-top: 15%;
                position: absolute;
              
            }

            .title-1{
             
                color: whitesmoke;
                font-size: 60px;

            }
            
            
            .p-1{
            
                height: 70px;
                width: 800px;
                margin-left: 24%;
                color: rgba(249, 31, 31, 0.916);
                padding-top: 15px;
                position: absolute;

              }
            
            .btns-1{
  
                width: 300px;
                height: 100px;
                margin-top:75px;
                margin-left:42%;

              }
            
            
            
            .Learn-More{

                height: 45px;
                width: 120px;
                border-radius: 10px;
                background-color: white;
                border: none;
                font-size: 17px;

              }


             .get-started {

                height: 45px;
                width: 120px;
                border-radius:10px;
                background-color:rgb(148, 30, 30 ) ;
                color: white;
                border: none;
                font-size: 17px;

              }

            .Edit-btns-1:hover{

              opacity: .5;

            }


            /*-------------------------------------------_Sec-2_---------------------------------------------*/ 

            .Sec-2{
     
                width: 100%;
                height: 100vh;
                background-color: rgb(249, 248, 246);
                position: relative;
                text-align: center;

              }

                .h2-welcome{
                
                    color: black;
                    font-size: 55px;
                    padding-top: 25px;

                }
        
                .hr-line-1{

                    width: 120px;
                    height: 4px;
                    background-color:rgb(132, 21, 21) ;
                    margin: 10px auto ;

                  }

                 .parent-1{
                    
                    width: 100%;
                    height: 84vh;
                    position: relative;
                    overflow:auto;

                  }

                 .children-sec-2{
                  
                    width: 300px;
                    height: 200px;
                    float: left;
                    margin-top: 60px;
                    border-radius: 10px;
                    border: 2px solid rgb(132, 21, 21) ;
                    position: relative;

                  }

                   .child-1{

                      margin-left: 250px;

                    }


                    .child-2{

                      margin: 60px 50px;
      
                    } 
  
                    .child-3{
  
                      margin-left: auto;
                    
                    }

                         .cogs{

                            color: rgba(132, 21, 21,.7) ;
                            font-size: 20px;
                           

                          }


                         .cog-1{ 

                          margin-top: 20px;
                          margin-left: -20px;


                         }

                         .cog-2{
             
                           margin-top:-10px;
                           margin-left: 25px;

                          }

                         .magic-1{
                          
                            color: rgba(132, 21, 21,.7);
                            font-size: 30px; 
                            margin-top: 20px;
                            

                          }


                           .mobile{ 
 
                            color: rgba(132, 21, 21,.7);
                            font-size: 30px;
                            margin-top: 20px;
                            
         
                          }

                           .h2-sec-2{

                            font-size: 28px;
                            color: #000;
                            padding-top: 10px;
                            position: relative;
                            z-index: 2;

                          }

                           .p-sec-2{

                            color: rgba(0, 0, 0,.7 );
                            font-weight: bold;
                            position: relative;
                            z-index: 2;

                          } 

                           .a-sec2{

                            display: block;
                            text-decoration: none;
                            font-weight: bold;
                            margin-top: 18px;
                            position: relative;
                            z-index: 2;
                            color: rgb(132, 21, 21);
                            font-size: 18px;
                            cursor: pointer; 
 
                          }


                           .children-sec-2::after{

                            content: "";
                            position: absolute;
                            width: 0;
                            height: 0;
                            top: 0;
                            left: 0;
                            background-color: rgb(132, 21, 21);
                            opacity: 0;
                            transition: .5s;
                            

                          }

                           .children-sec-2:hover:after{

                            width: 100%;
                            height: 100%;
                            opacity: 0.3;
                          }
                          
                          .children-sec-2:hover .h2-sec-2 {
  
                            color: white;

                          }


                          .children-sec-2:hover .p-sec-2 {

                            color: black;

                          }


                   

                          .a-child-1{

                            margin-top:-17px ;

                          }


/*----------------------------------------------_sec3_-----------------------------------------------------------*/

                        .sec-3{

                          width: 100%;
                          height: 100vh;
                          position: relative;
                          background-color:rgb(94, 15, 15);
                          text-align: center;

                        }
               
                        .parent-2{

                          width: 80%;
                          height: 100vh;
                          position: relative;
                          overflow:auto;
                          margin: auto;

                        }




                        .works{

                            color:white;
                            font-size: 55px;
                            padding-top: 25px;

                          }

                        .hr-line-2{

                            width: 120px;
                            height: 4px;
                            background-color:black;
                            margin: 8px auto ;
                            border: none;

                          }


                        .children-sec-3{
                  
                          width: 30%;
                          height: 220px;
                          float: left;
                          margin-top: 60px;
                          border: none;
                          position: absolute;

                        }


                        .child-4{
                          
                          background-image: url(../images/1.jpeg);
                          background-size: cover;
                          left: 0px;

                        }


                        .child-5{

                          background-image: url(../images/2.jpeg);
                          background-size: cover;
                          left:420px;

                        } 

      
                        .child-6{

                          background-image: url(../images/4.jpeg);
                          background-size: cover;
                          right: 0px;

                        } 


                        .child-7{

                          background-image: url(../images/3.jpeg);
                          background-size: cover;
                          top: 250px;
                          left: 0px; 

                        }
  
  
                        .child-8{
  
                          background-image: url(../images/6.jpeg);
                          background-size: cover;
                          position: absolute; 
                          top: 250px;
                          left:420px;
  
                        } 
  
  
                        .child-9{
   
                          background-image: url(../images/5.jpeg);
                          background-size: cover;
                          margin-top:320px ;
                          position: absolute;
                          right: 0px;
                          top: -10px;

                        }


                        .overlay-sec3{
  
                          width: 100%;
                          height: 220px;
                          float: left;
                          border: none;
                          background-color: rgba(0, 0, 0, .5);
                          opacity: 0;

                        }


                        .h2-sec3{
 
                          color: rgba(255, 255, 255, .6);
                          font-size: 25px;
                          text-transform: uppercase;
                          padding-top: 30px;

                        }


                        .span-sec3{
 
                          display: block;
                          color: white;
                          padding-top: 30px;
                          font-weight: bold;

                        }


                        .pinteresticon-sec3{

                          height: 30px;
                          width: 40px;
                          background-color: white;
                          margin-top: 30px;
                          margin-left: 55%;
                          border-radius: 5px;
                          cursor: pointer;

                        }

                        .pinterest{
            
                          font-size: 23px;
                          margin-top: 4px;

                        }



                        .hearticon-sec3{

                          height: 30px;
                          width: 40px;
                          background-color: white;
                          margin-top: -30px;
                          margin-left: 40%;
                          border-radius: 5px;
                          cursor: pointer;

                        }

 
                        .heart{
    
                          font-size: 23px;
                          margin-top: 4px;

                        }


                        .hearticon-child-7{

                          height: 30px;
                          width: 40px;
                          background-color: white;
                          margin-top: -28px;
                          position: absolute;
                          border-radius: 5px;
                          cursor: pointer;
                          margin-left: -48px;

                        }

                        .overlay-sec3:hover{
 
                          opacity: 1;

                        }

/*---------------------------------------------------_sec-4_--------------------------------------------------*/


                        .sec-4{

                          width: 100%;
                          height: 100vh;
                          background-color: rgb(249, 248, 246);
                          position: relative;
                          overflow: hidden;

                        }

                        .children-sec-4{
                  
                          width: 320px;
                          height: 220px;
                          float: left;
                          margin-top: 60px;
                          border: none;
                          position: relative;
                          border: 2px solid rgb(132, 21, 21);
                          border-radius: 10px;
                          text-align: left;

                        }

                        .child-10{

                          margin-left: 150px;

                        }

                        .child-11{

                          margin: 60px 50px;

                        } 


                        .child-12{

                          margin-left: auto;

                        } 


                        .child-13{

                          position: absolute;
                          margin-top: 40px;
                          position: relative;

                        }


                        .child-14{

                          position: absolute;
                          margin-top: 320px; 
                          margin-left:520px;

                        }
                        
                        .child-15{

                          margin-top:320px ;
                          position: absolute;
                          margin-left: 150px;

                        }


                        .icons-sec4{
 
                          font-size: 35px;
                          margin-left: 10px;
                          margin-top: 25px;
                          color: rgba(132, 21, 21,.8) ;
                          position: relative;
                          z-index: 2;
                          cursor: pointer;

                        }


                        .h2-sec-4{

                          padding-left: 55px;
                          margin-top: -30px;
                          color: black;
                          position: relative;
                          z-index: 2;

                        }

                    
                        .p-sec-4{

                          padding-top: 10px;
                          padding-left: 55px;
                          font-weight: bold;
                          color: rgba(0, 0, 0, .5);
                          position: relative;
                          z-index: 2;

                        }


                        .children-sec-4::after{

                          content: "";
                          position: absolute;
                          width: 0;
                          height: 0;
                          top: 0;
                          left: 0;
                          background-color: rgb(132, 21, 21);
                          opacity: 0;
                          transition: .5s;
                          

                        }


                        .children-sec-4:hover:after{

                          width: 100%;
                          height: 100%;
                          opacity: 0.3;

                        }


                        .children-sec-4:hover .h2-sec-4 {
  
                          color: white;

                        }


                        .children-sec-4:hover .p-sec-4 {

                          color: black;

                        }


                        .children-sec-4:hover .icons-sec4{

                          opacity: 1;
                          position: relative;
                          z-index: 3;

                        }


/*---------------------------------------------_sec-5_---------------------------------------------------*/

                        .sec-5{

                          width: 100%;
                          height: 100vh;
                          background-color: rgb(249, 248, 246); 
                          position: relative;

                        }

         
                        .image-sec-5{

                          width: 350px;
                          height: 500px;
                          background-image: url(../images/2022-porsche-911-gt3-rs-7843.jpg);
                          background-size: cover;
                          position: absolute;
                          right: 200px;
                          top: 45px;

                        }


                        .h2-sec-5{
 
                          font-size: 35px;
                          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                          padding-left: 150px;
                          padding-top: 100px;

                        }


                        .hr-line-3{

                          width: 60px;
                          height: 3.5px;
                          background-color:rgb(164, 28, 28);
                          margin-left: 150px;
                          margin-top: 8px;
                          border: none;
                        
                        }



                        .p-sec-5{

                          width: 800px;
                          padding-top:35px ;
                          padding-left: 150px;
                          font-weight: bold;
                          opacity: .5;

                        }


                        .sec-5-info{

                          height: 450px;
                          width: 400px;
                          margin-left: 150px;

                        }

  
                        .trueicon{

                          margin-top: 50px;
                          font-size: 18px;
                          color: rgb(171, 30, 30);

                        }


                        .p-sec-5-info{

                          padding-left: 20px;
                          margin-top: -20px;
                          font-weight: bold;
                          
                        }


                        .circles-sec5{
  
                          list-style: none;
                          text-align: center;
                          position: absolute;
                          right: 330px;
                          bottom: 100px;

                        }


                        .circles-sec5 li{

                          display: inline-block;
                          width: 15px;
                          height: 15px;
                          background-color: gray;
                          border-radius: 50%;
                          margin: 5px;

                        }


                        .circles-sec5 .red-circle-sec5{

                          background-color: rgb(164, 28, 28);

                        }



                        .circles-sec5 li:hover{

                          display: inline-block;
                          width: 15px;
                          height: 15px;
                          background-color: rgb(164, 28, 28);
                          border-radius: 50%;
                          margin: 5px;
  
                        }

/*-------------------------------------------------------_sec-6_------------------------------------------------------------*/
                        
                        .sec-6{

                          width: 100%;
                          height: 100vh;
                          background-color: rgb(249, 248, 246);
                          position: relative;

                        }


                        .parent-4{
 
                          width: 100%;
                          height: 400px;
                          background-image: url(../images/2024-ford-f-150-raptor-r.jpg);
                          background-size: cover;
                          background-attachment: fixed;
                          margin-top: 15%;
                          position: relative;

                        }

      
                        .overlay-sec6{

                          width: 100%;
                          height: 400px;
                          background-color: rgba(0, 0, 0, .5);
                          position: absolute;
                          z-index: 2;

                        }


                        .clientsicon-sec6{

                          color:rgb(196, 34, 34);
                          font-size: 50px;
                          position: absolute;
                          z-index: 4;
                          top: 120px;
                          left: 250px;

                        }

 

                        .h2clients-num-sec6{

                          color:white;
                          position: relative;
                          z-index: 4;
                          padding-top: 180px;
                          padding-left: 250px;

                        }


                        .span-happy-clients-sec6{

                          color: white;
                          position: absolute;
                          z-index: 4;
                          font-weight: bold;
                          top: 210px;
                          left: 230px;

                        }




                        .trophyicon-sec6{
                          
                          color:rgb(196, 34, 34);
                          font-size: 50px;
                          position: absolute;
                          z-index: 4;
                          top: 120px;  
                          left: 550px;

                        }



                        .trophyh2-sec6{

                          color:white;
                          position: absolute;
                          z-index: 4;
                          top: 180px;
                          left: 565px;

                        }


                  
                        .span-awards-won{

                          color: white;
                          position: absolute;
                          z-index: 4;
                          font-weight: bold;
                          top: 210px;
                          left: 535px;

                        }



                        .mugicon-sec6{

                          color:rgb(196, 34, 34);
                          font-size: 50px;
                          position: absolute;
                          z-index: 4;
                          top: 120px;
                          left: 900px;

                        }



                        .h2mug-sec-6{

                          color:white;
                          position: relative;
                          z-index: 4;
                          top: -25px;
                          padding-left: 890px;

                        }


                        .span-mug-ses6{

                          color: white;
                          position: absolute;
                          z-index: 4;
                          font-weight: bold;
                          top: 210px;
                          left: 875px;

                        }




                        .fileicon-sec6{

                          color:rgb(196, 34, 34);
                          font-size: 50px;
                          position: absolute;
                          z-index: 4;
                          top: 130px;
                          left: 80%;

                        }


                        .h2file-sec-6{

                          color:white;
                          position: relative;
                          z-index: 4;
                          top: -40px;
                          padding-left: 80.5%;

                        }                       
             


                        .span-file-sec-6{

                          color: white;
                          position: absolute;
                          z-index: 4;
                          font-weight: bold;
                          top: 220px;
                          left:77%;

                        }


/*----------------------------------------------------------_sec-7_---------------------------------------------------------*/

                        .sec-7{

                          width: 100%;
                          height: 100vh;
                          background-color: rgb(249, 248, 246);
                          position: relative;
                          overflow: hidden;
                          margin-top: -200px;
                          text-align: center;

                        }


                        .h2-sec7{
 
                          color: black;
                          font-size: 40px;
                          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
                        }
         
  
                        .hr-sec7{
  
                          width: 100px;
                          height: 3px;
                          background-color:rgb(164, 28, 28);
                          margin-left: 47%;
                          margin-top: 10px;
                          border: none;

                        }



                        .pricing-div1{

                          border-radius: 15px;
                          text-align: center;
                          padding-top:10px ;    
                          float: left;
                          width: 300px;
                          height: 400px;
                          position: absolute;
                          top: 100px;
                          left: 200px;
                          border: 2px rgb(196, 34, 34) solid;

                        }




                        .pricing-div2{
                          
                          border-radius: 15px; 
                          padding-top:10px ; 
                          text-align: center;
                          float: left;
                          width: 300px;
                          height: 400px;
                          border: 2px rgb(196, 34, 34) solid;
                          position: absolute;
                          top: 100px;
                          left: 600px;

                        }
   


                        .pricing-div3{
       
                          border-radius: 15px;
                          padding-top: 10px;
                          text-align: center;
                          float: left;
                          width: 300px;
                          height: 400px;
                          border: 2px rgb(196, 34, 34) solid;
                          position: absolute;
                          top: 100px;
                          right: 200px;
                        
                        }
       
       
       
                        .parent-circles{
       
                          padding: 18px 50px 0 140px;
                          text-align: center;
                          width: 300px;
                          height: 150px;
      
                        } 
   
   
   
                        .circles-pricing-sec7{
   
                          text-align: center;
                          width: 120px;
                          height: 120px;
                          border: 2px solid rgb(196, 34, 34);
                          border-radius: 50%;
                          margin-top: 5%;
                          margin-left: -50px;
                        
                        }




                        .buttons-sec7{
  
                          color: black;
                          margin-top: 25px;
                          width: 150px;
                          height: 30px;
                          border-radius: 10px;
                          border: 2px rgb(196, 34, 34) solid;
                          position: absolute;
                          bottom: 30px;
                          right:70px; 
   
                        }


                        .p-pricing-divs{

                          padding-top:40px ;
                          font-weight: bold;
                        
                        }


 
                        .h2-price{
        
                          padding-top: 35px  ;
                          font-size: 30px;

                        }   
 

                        .span-sec7{

                          color: #000;
                          font-weight: bold;
                        
                        }



                        .ul-price-divs{

                          width: 250px;
                          list-style: none;
                          line-height: 25px;
                          margin-left: 20px;
                          font-weight: bold;
  
                        }



                        .pricing-divs::before{

                          content: "";
                          position: absolute;
                          width: 100%;
                          height: 0;
                          top: 0;
                          opacity: 0;
                          background-color: rgb(196, 34, 34) ;
                          left: 0px; 
                          border-radius: 10px;
                          transition: .5s;
                          z-index: 0;

                        }



                        .pricing-divs:hover::before{

                          width: 100%;
                          height: 100%;
                          opacity: .4;

                        }



                        .pricing-divs:hover  .p-pricing-divs{

                          color:rgb(196, 34, 34)  ;
                          position: relative;
                          z-index: 3;

                        }


                        .pricing-divs:hover .h2-price{

                          position: relative;
                          z-index: 3;

                        }



                        .pricing-divs:hover .span-sec7{

                          position: relative;
                          z-index: 3;

                        }




                        .pricing-divs:hover .ul-price-divs{

                          position: relative;
                          z-index: 3;

                        }



/*-------------------------------------------------_sec-8_---------------------------------------------------------*/

                         
                        .sec-8{

                          width: 100%;
                          height: 65vh;
                          background-color: rgb(249, 248, 246);
                          position: relative;

                        }


                        .parent-5{

                          width: 100%;
                          height: 400px;
                          background-image: url(../images/bmw\ m4.jpg);
                          background-attachment: fixed;
                          background-size: cover;
                          position:absolute;

                        }



                        .overlay-sec8{

                          width: 100%;
                          height: 400px;
                          background-color: rgba(0, 0, 0, .3);
                          position: absolute;
                          z-index: 2;
  
                        }




                        .child-1-sec8{
 
                          width: 500px;
                          height: 400px;
                          position: absolute;
                          left: 270px;
                          z-index: 3;

                        }



                        .child-2-sec8{

                          width: 500px;
                          height: 400px;
                          position: absolute;
                          left: 770px;
                          z-index: 3;
 
                        }



                        .div-photos-sec8{

                          width: 80px;
                          height: 80px;
                          border-radius: 50%;
                          position: absolute; 
                          top: 100px;
                          left: 20px;

                        }



                        .photos-sec8{

                          border-radius: 50%;

                        }



                        .h2-sec-8{
  
                          color: white;
                          position: absolute;
                          top: 100px;
                          left: 110px;
                          font-weight: bold;
                          font-size: 30px;

                        }



                        .span-sec-8{

                          color:rgb(196, 34, 34);
                          font-weight: bold; 
                          font-size: 25px;
                          position: absolute;
                          top: 140px;
                          left: 110px;

                        }


                        .p-sec-8{

                          position: absolute;
                          top: 200px;
                          font-weight: bold;
                          color: white;
                          left: 20px;

                        }

/*-----------------------------------------------------_sec-9_-------------------------------------------------*/


                        .sec-9{

                          width: 100%;
                          height: 80vh;
                          background-color:rgb(249, 248, 246) ;

                        }



                        .h2-sec-9 {

                          font-size: 55px;
                          text-align: center;


                        }



                        .hr-sec-9{

                          display: block;
                          width: 100px;
                          height: 4px;
                          background-color: rgb(196, 34, 34);
                          margin: auto;
                          margin-top: 5px;

                        }



                        .team-container {

                          width: 80%;
                          margin: auto;
                          margin-top: 50px;

                        }



                        .team-item {

                          float: left;
                          background-color: rgb(238, 207, 207);
                          width: 30% ;
                          padding: 16px 14px ;
                          text-align: center; 
                          position: relative;
                          border-radius: 15px;

                        }



                        .team-item-2 {

                          margin: 0px 5%;

                        }


                        .team-img {

                          width: 90%;
                          margin: auto;
                          position: relative;

                        }


                        .team-img  img {

                          width: 100%;

                        }


                        .team-icons {

                          position: absolute; 
                          top: 0;
                          left: 0;
                          right: 0;
                          bottom: 0;
                          background-color: rgba(0, 0, 0, .6) ;
                          visibility: hidden;
  
                        }



                        .team-item:hover  .team-icons {

                          visibility: visible;

                        }




                        .team-icons i{

                          display: block;
                          color: rgb(196, 34, 34);
                          background-color:white;
                          font-size: 35px;
                          width: 40px;
                          height: 45px;
                          margin-left: auto;
                          line-height: 40px;

                        }



                        .team-info-p{

                          font-weight: bold;
                          opacity: .7;
                          
                        }





                        .team-item::after{

                          content: "";
                          position: absolute;
                          width: 100%;
                          height: 0;
                          top: 0;
                          right: 0;
                          background-color: rgb(196, 34, 34);
                          opacity: 1;
                          border-radius: 15px;
                          transition: .5s;

                        }




                        .team-item:hover::after{

                          width: 100%;
                          height: 100%;
                          opacity: .3;

                        }



                        .team-item:hover .team-info-title{

                          color: white;

                        }




                        .team-item:hover .team-info-p{

                          opacity: 1;
                          color: rgb(196, 34, 34);

                        }




/*-----------------------------------------------------------_sec-10_------------------------------------------------------------------*/



                          .sec-10{

                            width: 100%;
                            height: 100vh;
                            background-color:rgb(249, 248, 246) ;
                            position: relative;

                          }



                          .h2-sec-10 {

                            margin-top: -25px;
                            font-size: 55px;
                            text-align: center;

                          }



                          .hr-sec-10{

                            display: block;
                            width: 120px;
                            height: 4px;
                            background-color: rgb(196, 34, 34);
                            margin: auto;
                            margin-top: 5px;

                          }



                          .parent-6{

                            width: 80%;
                            height: 80vh;
                            position: relative;
                            margin:60px  auto;
                            overflow: hidden;

                          }



                          .children-sec10{

                            width: 30%;
                            height: 500px;
                            border: 1px solid rgb(196, 34, 34);
                            text-align: center;
                            position:relative;
                            border-radius: 15px;
                            font-weight: bold;
                            z-index:1;
                            float: left;

                          }



                          .child-2-sec10{

                            height: 530px;
                            margin: 0 60px;

                          }



                          .images-sec10{

                            width: 70%;
                            margin:20px auto;
                            border-radius: 15px;
                            height: 250px;

                          }



                          .images-sec10 img{

                            width: 100%;
                            height: 100%;
                            border-radius: 15px;

                          }


                         
                          .ul-sec10{

                            list-style: none;

                          }



                          .ul-sec10 li{

                            display: inline;
                            margin: 5px;

                          }


                          .ul-sec10  i{

                            color: rgb(196, 34, 34);

                          }



                          .h3-sec10{

                            padding-top: 15px;
                            font-size: 20px;
                            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

                          }



                          .p-sec10{

                            padding-top: 15px;
                            font-size: 16px;
                            opacity: .8;

                          }




                          .a-sec10{

                            display: block;
                            text-decoration: none;
                            font-size: 18px;
                            margin-top: 25px;

                          }



                          .a-child-2-sec10{

                            margin-top: 55px;
  
                          }




                          .children-sec10:after{

                            position: absolute;
                            content: "";
                            width: 100%;
                            height: 0;
                            top: 0;
                            left: 0;
                            background-color:rgb(239, 56, 56);
                            transition: .5s;
                            opacity: .5;
                            border-radius: 10px;
                            z-index: -1;

                          }



                          .children-sec10:hover:after{

                            width: 100%;
                            height: 100%;
                            opacity: 0.5;
                            transition: 0.5s;

                          }



                          .children-sec10:hover .h3-sec10{

                            color: white;

                          }



                          .children-sec10:hover .p-sec10{

                            opacity: 1;
                            color:rgb(196, 34, 34) ;

                          }


/*----------------------------------------_sec-11_---------------------------------------------------*/




                          .sec-11{

                            width: 100%;
                            height: 50vh;
                            background-color: rgba(148, 30, 30 , 0.7);
                            position: relative;
                            text-align: center;

                          }



                          .image-sec11{

                            width: 250px;
                            height: 210px;
                            margin: auto;
                            border-radius: 15px;

                          }



                          .image-sec11 img{

                            border-radius: 15px;
                            margin: 25px auto;

                          }



                          .usec11{

                            list-style: none;

                          }




                          .ul-sec11 ul li{

                            display: inline-block;
                            width: 55px;
                            height: 55px;
                            border-radius: 50%;
                            background-color: rgba(148, 30, 30 , 0.7);
                            color: #fff;
                            font-size: 30px;
                            padding-top: 11px;
                            position: relative;
                            margin-top: 45px;

                          }



                          .ul-sec11 li:hover {
  
                            background-color: rgb(113, 9, 9);

                          }




                          .p-sec11{

                            font-size: 17px;
                            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            opacity: .6;
                            margin-top: 10px;

                          }

